
.header{
    grid-area: h;  /* Задаем имена для классов, чтобы сказать главному wrapper, как спозиционировать 
                      эти элементы */
    background-color: green;
  }
  .header img{
    width: 40px;
  }

  .loginBlock{
    float: right;
  }

  .loginBlock a{
    text-decoration: none;
    color: white;
  }